/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}








@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


:root {
	--white: #F6F1F0;
  --gray: #EAE5E5;
	--black: #0D1B1E;
  --blackopacity: #0D1B1E30;
	--red: #FF6666;
  --lightred: #F9CCCB;
	--turkis: #8EBAAA;
  --lightblue: #D5DADB;
  --yellow: #F7DBA7;
}

#root {
	font-family: 'Quicksand', sans-serif;
	background-color: var(--white);

}

.App {
	scroll-snap-type: y mandatory;
	overflow-y: scroll;
	height: 100vh;
}

/*section {
	scroll-snap-align: start;
}*/

.introSection {
	position: relative;
	height: 100vh;
	padding: 0px 80px;
}

.navBar {
	padding-top: 88px;
	position: relative;
  margin-bottom: 36px;
}

.leftContainer {
	display: inline-block;
}

.logo {
	float: left;
	width: 124px;
	height: 58px;
	background-image: url("/src/images/Logo2.svg");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.statusBar {
	float: right;
	background-color: var(--black);
	width: max-content;
	padding: 16px;
	color: var(--white);
	border-radius: 16px;
	font-weight: 700;
	margin: 6px 0px 0px 42px;

}


.rightContainer {
	float: right;
	display: inline-flex;
	font-size: 18px;
	padding-top: 8px;
  gap: 16px;
}

.biggerProjects {
	position: relative;
	padding: 16px;
	background-color: var(--lightblue);
	font-weight: 500;
	border-radius: 16px 0px 16px 16px;
	height: max-content;
  font-size: 20px;
}

.biggerProjects:hover {
  cursor: pointer;
  animation: scaler 0.25s forwards;
}

.arriveSoon {
	position: absolute;
	background-color: var(--lightred);
	padding: 14px;
	border-radius: 16px 16px 0px 0px;
	font-weight: 400;
	top: -42px;
	right: 0px;
	font-size: 14px;
}

.contactBut {
  margin: 16px 24px;
}

.contactBut p{
	color: var(--black);
	margin-left: 4px;
	font-weight: 600;
  font-size: 22px;
	height: max-content;
}

.contactLine {
  height: 6px;
  width: 100%;
  margin-top: 8px;
  border-radius: 4px;
  background-color: var(--black);
}

.languageSwitcher {
	position: relative;
	padding: 16px 16px;
	width: max-content;
	border-radius: 8px;
  height: 30px;
  background-color: var(--lightblue);
  border-radius: 32px;
}

.languageSwitcher p {
	font-size: 20px;
}

.downArrow {
	position: absolute;
	background-image: url('/src/images/downArrow.svg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	height: 6px;
	width: 100%;
	padding: 0px;
	left: 0;
	bottom: 12px;

}

.introBanner {
  width: 100%;
	min-height: 480px;
	max-width: 2000px;
  margin: auto;
}

.introContainer {
  position: relative;
	background-color: var(--lightblue);
	border-radius: 128px;
	height: max-content;
  width: 100%;
  margin: auto;
  
}

.nextButton {
  position: absolute;
	background-image: url('/src/images/yellowCircle.svg');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	width: 176px;
	height: 176px;
  bottom: -88px;
  left: 50%;
  border-radius: 88px;
  transform: translateX(-50%);
  filter: drop-shadow(0px 0px 32px var(--blackopacity));
  
}

.nextButton:hover {
  cursor: pointer;
  filter: brightness(-50%);
  animation: scaler 0.25s forwards;
}

.garanti {
  position: absolute;
	background-image: url('/src/images/100garanti.svg');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
  width: 368px;
	height: 256px;
  left: -64px;
  bottom: -80px;
}

.garanti:hover {
  cursor: pointer;
  animation: scaler 0.25s forwards;
}

.nextArrow {
  position: relative;
  background-image: url('/src/images/nextArrow.svg');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
  width: 100%;
  height: 36px;
  top: 50%;
  transform: translateY(-50%);
  animation: arrowAnimation 1s forwards infinite ease-in-out alternate;
}

@keyframes arrowAnimation {
  0% {margin-top: 0px;}
  50% {margin-top: 4px;}
  100% {margin-top: 0px;}
}

.introText {
  padding: 144px 96px;
  font-weight: 1000;
  font-size: 112px;
  color: var(--black);
}

.introText p:nth-child(2) {
  width: 100%;
  text-align: center;
  margin: 16px 0px;
}

.introText p:nth-child(3) {
  width: 100%;
  text-align: center;
}

.introAboutMe {
  position: absolute;
  top: 0;
  right: 0;
  margin: 64px;
  background-color: var(--white);
  max-width: 650px;
  border-radius: 26px 100px 100px 48px;
}

.introAboutMe:hover {
  animation: scaler 0.25s forwards;
  cursor: pointer;
}

@keyframes scaler {
  0% {scale: 1;}
  100% {scale: 1.02; filter: drop-shadow(0px 0px 12px var(--blackopacity));}
}

@keyframes rotater {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

.aboutMeContainer {
  position: relative;
  display: flex;

}

.aboutMeContainer p {
  flex: 80%;
  margin: 40px;
  font-size: 18px;
  line-height: 1.3;
  font-weight: 500;
  color: var(--black);
  flex: 75%;

}

.profilePicture {
  background-image: url('/src/images/profilePicture3.png');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
  border-radius: 60px;
  height: 134px;
  width: 120px;
  flex: 25%;
  margin: 8px;
  min-width: 120px;

}

.bold {
  font-weight: bold;
}

.spinningFocus {
  position: absolute;
  height: 80px;
  width: 80px;
  top: -32px;
  left: -32px;
  animation: rotater 10s forwards infinite linear;
}

.spinningText {
  background-image: url('/src/images/spinningText.svg');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.blackCircle {
  width: 28px;
  height: 28px;
  background-color: var(--black);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 26px;
  border-radius: 32px;
}


/*.slideshowSection {
  position: relative;
  height: 100vh;
  background-color: var(--black);
  
  scroll-snap-align: start;
  
}*/

.slideshowSection {
  padding: 100px 0px;
  background-color: var(--black);
}

/*.slideshowView {
  position: absolute;
  background-color: var(--yellow);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 64px;
  border-radius: 64px;
  padding: 64px;
}*/

.slideshowView {
  position: sticky;
  top: 100px;
  width: 100%;
  overflow: hidden;
}

.slideshowHeader {
  position: relative;
  display: flex;
  width: 100%;
}

.slideshowContact {
  position: absolute;
  right: 0;
  font-size: 24px;
  font-weight: 600;
}

/*.slideshowContent {
  position: absolute;
  width: max-content;
  scroll-snap-type: x mandatory;
	overflow: auto;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}*/

.slideshowContent {
  position: relative;
  display: flex;
}

.slideshowElement {
  width: 500px;
  height: 400px;
  background-color: purple;
  margin: 0 0px 0 64px;
  top: 50%;
  transform: translateY(-50%);
  flex-shrink: 0;
}

.slideshowContent p {
  font-size: 80px;
  color: var(--black);
  text-align: center;
  font-weight: 900;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 180px;
}

.myServiceSection {
  position: relative;
  height: 100vh;
  background-color: var(--white);
}

.serviceView {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 128px;
  transform: translate(-50%, -50%);
  background-color: var(--gray);
  border-radius: 128px;
  display: flex;
  margin: auto;

}

.serviceTextView {
  margin-top: 112px;
  height: 100%;
  position: relative;
  flex: 40%;

}




.serviceTextView h6 {
  font-size: 80px;
  font-weight: 800;
  color: var(--black);
}

.servicesDescription {
  margin-top: 48px;
  width: 300px;
  background-color: var(--black);
  padding: 32px;
  border-radius: 32px;
  font-size: 20px;
  color: var(--white);
  font-weight: 600;
  line-height: 1.3;
}

.servicesGraphic {
  height: 600px;
  width: 600px;
  margin-left: 160px;
  border: 1px solid var(--black);
  border-radius: 64px;
  flex: 70%;
}

.contactSlider {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 12px;
  background-color: var(--white);
  border: 1px solid var(--black);
  text-align: center;
  border-radius: 16px;
  height: max-content;
  margin-left: 12px;
}

.contactSlider p {
  writing-mode: vertical-rl;
  text-orientation: upright;
  padding-right: 16px;
  font-weight: 800;
}